<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
   <import resource="classpath:xml/spring/applicationContext.xml"/>
 	
 	
 	<!-- 日志管理 -->
 	<!-- 登陆的需要单独写，因为登录时没有session，会报空指针异常 -->
 	<bean id="logAspect" class="com.aspect.LogAspect">
 		<property name="empMapper" ref="empMapper"></property>
 		<property name="logMapper" ref="logMapper"></property>
 	</bean>
 	
 	
 	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutControllerTest" expression="execution(* com.emp.action.EmpAction.*(..))"/>
			<aop:after pointcut-ref="pointCutControllerTest" method="doAfter"/>
		</aop:aspect>
	</aop:config>
 	
	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutEmp" expression="execution(* com.emp.service.EmpService.*(..))"/>
			<aop:after pointcut-ref="pointCutEmp" method="doAfter"/>
<!-- 			<aop:around pointcut-ref="pointCutEmp" method="doAround"/> -->
<!-- 			<aop:before pointcut-ref="pointCutEmp" method="doBefore"/> -->
		</aop:aspect>
	</aop:config>
	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutDept" expression="execution(* com.dept.service.DeptService.*(..))"/>
			<aop:around pointcut-ref="pointCutDept" method="doAround"/>
		</aop:aspect>
	</aop:config>
	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutGenerator" expression="execution(* com.generator.service.GeneratorService.*(..))"/>
			<aop:around pointcut-ref="pointCutGenerator" method="doAround"/>
		</aop:aspect>
	</aop:config>
	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutLimit" expression="execution(* com.limit.service.LimitService.*(..))"/>
			<aop:around pointcut-ref="pointCutLimit" method="doAround"/>
		</aop:aspect>
	</aop:config>
	<!-- 
	<aop:config >
		<aop:aspect ref="logAspect">
			<aop:pointcut id="pointCutLog" expression="execution(* com.log.service.LogService.*(..))"/>
			<aop:around pointcut-ref="pointCutLog" method="doAround"/>
		</aop:aspect>
	</aop:config>
	 -->
</beans>